@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 25% 97.6%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 220 14% 85%;
    --primary-foreground: 220 14% 20%;

    --secondary: 211 33% 90%;
    --secondary-foreground: 211 33% 25%;

    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 30%;

    --accent: 220 14% 75%;
    --accent-foreground: 220 14% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 220 14% 75%;

    --radius: 0.75rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 40 25% 97.6%;

    --card: 224 71% 6%;
    --card-foreground: 40 25% 97.6%;

    --popover: 224 71% 4%;
    --popover-foreground: 40 25% 97.6%;

    --primary: 220 14% 25%;
    --primary-foreground: 220 14% 90%;

    --secondary: 211 33% 20%;
    --secondary-foreground: 211 33% 90%;

    --muted: 220 13% 15%;
    --muted-foreground: 220 9% 55%;

    --accent: 220 14% 35%;
    --accent-foreground: 220 14% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 220 14% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
