@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 100% 98%;
    --foreground: 224 71.4% 4.1%;

    --card: 47 100% 98%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 47 100% 98%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 272 47% 70%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 207 44% 73%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    
    --chart-1: 217 91% 60%;
    --chart-2: 150 78% 44%;
    --chart-3: 350 89% 60%;
    --chart-4: 30 90% 55%;
    --chart-5: 270 89% 65%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 272 47% 70%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 28% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 23%;
    --muted-foreground: 215 28% 78%;
    --accent: 207 44% 73%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-medium;
  }
}

@layer utilities {
  @keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  .animate-wave {
    animation: wave 1.5s ease-in-out infinite;
  }

  @keyframes waving-hand {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }
  .animate-waving-hand {
    animation: waving-hand 2.5s infinite;
  }

  .typing-indicator::after {
    content: '.';
    animation: typing 1s infinite;
  }

  @keyframes typing {
    0% { content: '.'; }
    33% { content: '..'; }
    66% { content: '...'; }
  }
}
