@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 96%; /* nord6 */
    --foreground: 225 13% 21%; /* nord0 */

    --card: 220 17% 96%; /* nord6 */
    --card-foreground: 225 13% 21%; /* nord0 */

    --popover: 220 17% 96%; /* nord6 */
    --popover-foreground: 225 13% 21%; /* nord0 */

    --primary: 215 32% 52%; /* nord10 */
    --primary-foreground: 220 17% 96%; /* nord6 */

    --secondary: 213 32% 63%; /* nord9 */
    --secondary-foreground: 225 13% 21%; /* nord0 */

    --muted: 220 20% 93%; /* nord5 */
    --muted-foreground: 222 15% 36%; /* nord3 */

    --accent: 195 40% 67%; /* nord8 */
    --accent-foreground: 225 13% 21%; /* nord0 */

    --destructive: 353 43% 56%; /* nord11 */
    --destructive-foreground: 220 17% 96%; /* nord6 */

    --border: 220 25% 90%; /* nord4 */
    --input: 220 25% 90%; /* nord4 */
    --ring: 215 32% 52%; /* nord10 */
    
    --chart-1: 353 43% 56%; /* nord11 */
    --chart-2: 25 47% 63%; /* nord12 */
    --chart-3: 45 68% 76%; /* nord13 */
    --chart-4: 93 26% 63%; /* nord14 */
    --chart-5: 326 25% 64%; /* nord15 */
  }

  .dark {
    --background: 225 13% 21%; /* nord0 */
    --foreground: 220 17% 96%; /* nord6 */

    --card: 222 16% 28%; /* nord1 */
    --card-foreground: 220 17% 96%; /* nord6 */

    --popover: 225 13% 21%; /* nord0 */
    --popover-foreground: 220 17% 96%; /* nord6 */

    --primary: 215 32% 52%; /* nord10 */
    --primary-foreground: 220 17% 96%; /* nord6 */

    --secondary: 213 32% 63%; /* nord9 */
    --secondary-foreground: 225 13% 21%; /* nord0 */

    --muted: 222 16% 32%; /* nord2 */
    --muted-foreground: 220 25% 90%; /* nord4 */

    --accent: 222 15% 36%; /* nord3 */
    --accent-foreground: 220 17% 96%; /* nord6 */

    --destructive: 353 43% 56%; /* nord11 */
    --destructive-foreground: 220 17% 96%; /* nord6 */

    --border: 222 16% 32%; /* nord2 */
    --input: 222 16% 32%; /* nord2 */
    --ring: 215 32% 52%; /* nord10 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
